h4{
    display: inline-block;
    
}
header{
    background-color: rgb(229, 66, 66);
}
.img{
    text-align: center;
}
img{
    height: 750px;
    width: 800px;
}
.article{
    text-align: center;
}
.foto{
    text-align: center;
}
h5{
    display: inline-block;
}
.conteiner2{
    text-align: center;
    margin: auto;
}
body{
    background-color: pink;
}